{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <form action="{{site.Params.contact_form_action}}">
          <div class="mb-4">
            <label for="name" class="form-label">نام شما</label>
            <input type="email" class="form-control rounded" id="name" placeholder="عباس بوعذار" required>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">آدرس ایمیل</label>
            <input type="email" class="form-control rounded" id="email" placeholder="e-mail@example.com" required>
          </div>
          <div class="mb-4">
            <label for="subject" class="form-label">موضوع</label>
            <input type="email" class="form-control rounded" id="subject" placeholder="پرداختن به نرم افزار های آزاد غیر متمرکز" required>
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">پیام شما</label>
            <textarea class="form-control rounded" id="message" rows="4" placeholder="لطفا بیشتر نرم افزار غیر متمرکز معرفی کنید" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary rounded" aria-label="Send Message">ارسال</button>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}